template(name="form_text")
	input(type="text",name=field.name,id=field.name, value=modelValue)

template(name="form_label")
	label(for=field.name) #{field.name} :

template(name='text_component')
	+form_label field=field
	+form_text field=field		

template(name="form_checkbox")
	input(type="checkbox", id=field.name, checked=modelValue)

template(name="checkbox_component")
	+form_label field=field
	+form_checkbox field=field

template(name="form_text_area")
	textarea(rows="7",cols="50",name=field.name,id=field.name)= modelValue

template(name="text_area_component")
	+form_label field=field
	+form_text_area field=field

